.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #A01111;
}

.logoContainer img {
  width: 600px;
  height: auto;
  margin-bottom: 50px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.linkButton,
.secondaryButton {
  text-decoration: none;
  background-color: white;
  color: #800b0b;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;
  border: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.linkButton:hover,
.secondaryButton:hover {
  background-color: #F5F5F5;
}

.nextTurnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #800b0b;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 50px;
  background-color: #A01111;
}

.mapContainer img {
  max-width: 90%;
  height: auto;
  max-height: 70vh;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.mapBackButton {
  align-self: flex-start;
  background-color: white;
  color: #800b0b;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.mapBackButton:hover {
  background-color: #F5F5F5;
}

@media (max-width: 768px) {
  .mapContainer {
    margin-top: 70px;
  }

  .mapBackButton {
    padding: 10px 20px;
    font-size: 16px;
  }
}
