.form-group {
    position: relative;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
}

.edit-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
