/* En tu archivo globals.css o en el CSS global de tu proyecto */
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que los elementos se dimensionen correctamente */
}
