/* layout.module.css */

.nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
    background-color: #A01111;
    font-weight: 500;
    position: fixed; /* Fija el nav en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20; /* Asegura que el nav esté encima del contenido */
  }
  
  .label {
    color: #fff;
  }
  
  .label:hover {
    color: #dfd9d9;
  }
