.main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  height: 100vh; 
  text-align: center; 
  padding-top: 5rem;
  background-color: #fff;
  color: #333;
}


.container {
  width: 20rem;
  margin-top: 3rem;
}

.titulo {
  font-size: 2rem; 
  font-weight: bold; 
  color: #333; 
  margin-bottom: 1rem; 
}

.subtitulo {
  font-size: 1.2rem; 
  color: #666; 
}