/* Contenedor principal de la página */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #A01111;
}

/* Contenedor del logo */
.logoContainer {
  margin-bottom: 20px;
}

/* Contenido de la pantalla de bienvenida */
.homeContent {
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.homeContent.show {
  opacity: 1;
}

/* Contenedor para los botones de la pantalla de bienvenida */
.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre los botones */
  align-items: center;
}

/* Estilo del botón como enlace */
.linkButton {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  background-color: #b22222;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.linkButton:hover {
  background-color: #8b0000;
}

/* Estilos para la sección del próximo turno */
.nextTurnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  background-color: #b22222;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin: 10px 0;
}

.nextTurnLabel {
  font-size: 16px;
}

.nextTurnValue {
  background-color: #8b0000;
  padding: 5px 10px;
  border-radius: 4px;
}

/* Estilos para los botones en la segunda pantalla */
.secondaryButton {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  background-color: #b22222;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.secondaryButton:hover {
  background-color: #8b0000;
}

.secondaryScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.mapContainer {
  width: 100%;
  max-width: 360px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
