.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.backButton {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
}
