.input {
  width: 100%;
  padding: 12px; /* Aumenta el padding para mayor comodidad */
  margin: 10px 0;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 1.2rem;
  color: #333; /* Color de texto uniforme */
  background-color: #f7f7f7; /* Fondo uniforme */
  box-sizing: border-box; /* Incluye padding y border en el ancho y alto */
}

/* Estilo para el input en foco */
.input:focus {
  border-color: #A01111;
  outline: none;
}
