/* formDesplegable.module.css */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown select:hover {
  border-color: #888;
}

.dropdown select:focus {
  outline: none;
  border-color: #555;
}

.dropdown form {
  display: inline-block;
  margin-left: 10px; /* Ajusta el margen según necesites */
}
