.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9ecef; /* Fondo más claro */
}

.container {
  background: #ffffff;
  border-radius: 12px; /* Bordes redondeados más suaves */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 400px;
}

.title {
  text-align: center;
  color: #333; /* Color del título */
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555; /* Color del texto de las etiquetas */
}

.formGroup input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px; /* Bordes más redondeados */
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.formGroup input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra suave al enfocar */
  outline: none;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center; /* Centrar mensaje de error */
}

.btnPrimary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px; /* Bordes más suaves */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Añadir transformación */
}

.btnPrimary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btnPrimary:hover:not(:disabled) {
  background-color: #0056b3;
  transform: translateY(-2px); /* Efecto de elevación al pasar el ratón */
}

.switchToLogin {
  margin-top: 20px;
  text-align: center;
}

.switchToLogin p {
  margin: 0;
}

.btnSecondary {
  background: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.btnSecondary:hover {
  text-decoration: none; /* Eliminar subrayado al pasar el ratón */
}
