/* Estilos para la página principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Estilos para el encabezado */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A01111;
    padding: 40px 10px 100px; /* Aumenta el padding para agrandar el fondo rojo */
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
    position: absolute;
    bottom: -50px;
}

.header h2 {
    color: #ffffff;
    margin: 40px 0 0; /* Reduce el margen superior para subir el título */
    font-size: 24px;
}

/* Estilos específicos para pantallas móviles */
@media (max-width: 768px) {
    .header {
        padding: 30px 30px 70px; /* Ajusta el padding para pantallas móviles */
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .header img {
        width: 80px;
        height: 80px;
        bottom: -40px;
    }

    .header h2 {
        font-size: 20px;
        margin: 30px 0 0; /* Reduce aún más el margen superior para móviles */
    }

    .form {
        width: 90%;
        max-width: 350px;
        margin-top: 100px;
        padding: 15px;
    }

    .inputContainer {
        padding: 8px;
    }

    .input {
        font-size: 14px;
    }

    .editIcon {
        font-size: 16px;
        right: 8px;
    }

    .button {
        padding: 12px;
        font-size: 14px;
        margin-top: 15px;
    }

    .footer {
        flex-direction: row;
        padding: 5px 0;
        margin-top: 15px;
    }
}
