.turnoInfo {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .turnoInfo h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .turnoInfo p {
    margin: 10px 0;
  }
  
  .warning {
    color: red;
    font-weight: bold;
  }